<VirtualHost *>
    DocumentRoot ##WWW_PATH##/##PROJECT##/repo/master/htdocs
    ServerName ##PROJECT##.##DEV_DOMAIN##
    ErrorLog ##WWW_PATH##/##PROJECT##/logs/##PROJECT##.##DEV_DOMAIN##-err

    Alias /data/ ##WWW_PATH##/##PROJECT##/data/

    <Location />
        php_admin_value open_basedir "/usr/share/pear:##WWW_PATH##/##PROJECT##"
        php_admin_value upload_tmp_dir "##WWW_PATH##/##PROJECT##/tmp"
        php_admin_value session.save_path "##WWW_PATH##/##PROJECT##/tmp"
	php_admin_value memory_limit "256M"
	php_value post_max_size "256M"
	php_value upload_max_filesize "256M"
    </Location>

    <Directory ##WWW_PATH##/##PROJECT##/repo>
	Options Includes FollowSymLinks MultiViews
	AllowOverride All
	Order allow,deny
	Allow from all
    </Directory>
</VirtualHost>

<VirtualHost *>
    VirtualDocumentRoot ##WWW_PATH##/##PROJECT##/repo/%1/htdocs
    ServerName dev.##PROJECT##.##DEV_DOMAIN##
    ServerAlias *.##PROJECT##.##DEV_DOMAIN##
    ErrorLog ##WWW_PATH##/##PROJECT##/logs/##PROJECT##.##DEV_DOMAIN##-err

    Alias /data/ ##WWW_PATH##/##PROJECT##/data/

    <Location />
        php_admin_value open_basedir "/usr/share/pear:##WWW_PATH##/##PROJECT##"
        php_admin_value upload_tmp_dir "##WWW_PATH##/##PROJECT##/tmp"
        php_admin_value session.save_path "##WWW_PATH##/##PROJECT##/tmp"
	php_admin_value memory_limit "256M"
	php_value post_max_size "256M"
	php_value upload_max_filesize "256M"
    </Location>

    <Directory ##WWW_PATH##/##PROJECT##/repo>
	Options Includes FollowSymLinks MultiViews
	AllowOverride All
	Order allow,deny
	Allow from all
    </Directory>
</VirtualHost>
