DEV_HOSTNAME="dev.ailove.ru"
FACTORY_HOSTNAME="factory.ailove.ru"
REL_HOSTNAME="rel.ailove.ru"
PRO_HOSTNAME="pro.ailove.ru"
TEST_HOSTNAME="test.ailove.ru"
SVN_URL="http://dev.ailove.ru/svn-admin"
GIT_URL="https://factory.ailove.ru/git-admin"
SVN_USERNAME="svn"
GIT_USERNAME="svn"
WWW_USERNAME="apache"
POSTGRESQL_USERNAME="postgres"
SVN_REPOSITORIES_PATH="/srv/svn"
GIT_REPOSITORIES_PATH="/srv/git"
WWW_PATH="/srv/www"
SKEL_PATH="/srv/admin/skel"
APACHE_VIRTUALHOSTS_PATH="/etc/httpd/vhosts-svn.d"
NGINX_VIRTUALHOSTS_PATH="/etc/nginx/vhosts-svn.d"
CROND_PATH="/etc/cron.d"
WIKI_AUTHOR_ID="1"
REDMINE_DATABASE="redmine"
PATH="/sbin:/usr/sbin:/usr/local/sbin:/bin:/usr/bin:/usr/local/bin"
SVN_PATH="/usr/bin/svn"
GIT_PATH="/usr/bin/git"
SUDO_PATH="/usr/bin/sudo"
LC_ALL="ru_RU.UTF-8"
