MYSQL_HOSTNAME="dev.ailove.ru"
MYSQL_DATABASE="redmine"
MYSQL_USERNAME="pureftpd"
MYSQL_PASSWORD=""
MYSQL="mysql -s -u$MYSQL_USERNAME -p$MYSQL_PASSWORD -D$MYSQL_DATABASE -h$MYSQL_HOSTNAME"
WWW_UID="48"
WWW_GID="48"
DELIMITER="@"
ACCESS_ROLES="r.id = 4 OR r.id = 6 OR r.id = 7"
